@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #030014; /* Deep Space Black */
    font-family: 'Inter', sans-serif;
    color: white;
    overflow-x: hidden;
}
h1, h2, h3, button {
    font-family: 'Space Grotesk', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #030014; }
::-webkit-scrollbar-thumb { background: #4f46e5; border-radius: 10px; }

/* Grid Background Pattern */
.bg-grid {
    background-size: 50px 50px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
                      linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    mask-image: radial-gradient(ellipse at center, black 40%, transparent 80%);
}

.custom-scrollbar::-webkit-scrollbar { width: 6px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #4f46e5; border-radius: 10px; }